{
    margin:  0;
    padding:0;
}

body {
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~pp020/pictures/background/cloudsbackground.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner {
    text-align: center;
}


.inner-cover {
    text-align: center;
    form
    width: 500px
    border 2px solid blue;
    margin: 0 auto
}

.col-sm-6 {
    text-align: center;
    width: 500px
    border 2px solid blue;
    margin: 0 auto
}

.form-group {
    text-align: center;
}

.cover-container {
    text-align: center;
}

form {
    margin: 20px auto;
    width: 300px;

}

input {
    padding: 10px;
}
