body {
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~pp020/pictures/background/Hintergrund.png") ;
    background-repeat: no-repeat;
    font-family: Avenir;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("http://mars.iuk.hdm-stuttgart.de/home/ng046/public_html/pictures/background/mountains-1985027.jpg");
}

.intro.inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width:none;
}

.content {
    max-width: 500px;
    padding: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 200%;
}

.btn {
border-radius: 9px;
font-size: 135%;
}

.site-wrapper {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inner-cover {
    text-align: center;
    width: 500px;
    margin: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-sm-6 {
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation-link {
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 0.5 rem;
}

.cover-container {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: 20px auto;
    width: 300px;
}

input {
    padding: 10px;
}

