body {
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~pp020/pictures/background/Hintergrund.png") ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner {
    text-align: center;
}

.site-wrapper {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inner-cover {
    text-align: center;
    width: 500px;
    margin: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-sm-6 {
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation-link {
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 0.5 rem;
}

.cover-container {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: 20px auto;
    width: 300px;
}

input {
    padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}